@import "tailwindcss";

@theme {
  --color-gray-100: #e1e1e6;
  --color-gray-300: #c4c4cc;
  --color-gray-400: #8d8d99;
  --color-gray-500: #7c7c8a;
  --color-gray-600: #323238;
  --color-gray-700: #29292e;
  --color-gray-800: #202024;
  --color-gray-900: #121214;

  --color-green-300: #00b37e;
  --color-green-500: #00875f;
  --color-green-700: #015f43;

  --color-red-300: #f75a68;
  --color-red-500: #ab222e;
  --color-red-700: #7a1921;

  --font-sans: "Roboto", sans-serif;
}

body {
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
}

td {
  padding: 1.25rem 2rem;
  background-color: var(--color-gray-700);

  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
